# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# cache
__pycache__/

# mypy
.mypy_cache/

# generated pyi files
/matplotlib-stubs/pyplot.pyi

# virtual environments
venv

# vscode
.vscode
