[MESSAGES CONTROL]

# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED
confidence=

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time. See also the "--disable" option for examples.
enable=use-symbolic-message-instead,useless-supression,fixme

disable=
    unused-argument,
    invalid-name,
    missing-function-docstring,
    redefined-outer-name,
    no-self-use,
    missing-class-docstring,
    too-many-ancestors,
    too-many-arguments,
    too-few-public-methods,
    # handled by black
    format
